@{
	Layout  = "noauth_layout.cshtml";
}

<h2>Reset Password</h2>

<form method="post" action="/resetpassword/@Model.PasswordResetToken">
    <fieldset>
        <legend>Provide a new password</legend>
        <label for="password">Password:</label><input type="password" name="password" />
        <label for="confirmpassword">Confirm Password:</label><input type="password" name="confirmpassword" />
        <input type="submit" value="Reset Password" />
    </fieldset>
</form>

@foreach(var token in Model.ExistingTokens)
{
    <p>@token.ToString()</p>
}