<configuration>
    <configSections>
        <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <razor disableAutoIncludeModelNamespace="false">
        <assemblies>
            <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <add assembly="Deployd.Agent" />
            <add assembly="Deployd.Core" />
        </assemblies>
        <namespaces>
            <add namespace="Deployd.Agent" />
            <add namespace="Deployd.Agent.WebUi" />
            <add namespace="Deployd.Agent.WebUi.Modules" />
            <add namespace="Deployd.Agent.WebUi.Models" />
            <add namespace="Deployd.Core" />
        </namespaces>
    </razor>
    <system.web.webPages.razor>
        <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase`1[[System.Object]]">
            <namespaces>
                <add namespace="Nancy.ViewEngines.Razor" />
                <add namespace="Deployd.Agent" />
                <add namespace="Deployd.Agent.WebUi" />
                <add namespace="Deployd.Agent.WebUi.Modules" />
                <add namespace="Deployd.Agent.WebUi.Models" />
                <add namespace="Deployd.Core" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>
	<appSettings>
		<add key="webPages:Enabled" value="false" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<buildProviders>
				<add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
				<add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
			</buildProviders>
		</compilation>
	</system.web>
</configuration>